@use '../utils' as *;

/*=============================
    19. project css start 
===============================*/

.tg-project{
    &-left {
        margin-right: -20px;
        @media #{$md,$xs}{
            margin-bottom: 50px;
        }
    }
    &-thumb {
        & img {
            width: 100%;
            border-radius: 5px;
        }
    }
    &-thumb-wrap {
        margin-left: 18px;
        @media #{$md,$xs}{
            margin-left: 0;
        }
    }
    &-text {
        & p {
            @media #{$lg,$md,$xs}{
                font-size: 16px;
            }
        }
    }
}

.tg-project-2 {
    &-thumb {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        & img {
            width: 100%;
            border-radius: 5px;
            transition: 1.3s all ease;
        }
        &:hover {
            & img {
                transform: scale(1.1);
            }
            &::after{
                height: 100%;
                opacity: 0;
                -webkit-transition: all 400ms linear;
                transition: all 400ms linear;
            }
            & .tg-project-2-content {
                transform: perspective(400px) rotateX(0deg);
            }
        }
        &::after{
            background: rgba(255, 255, 255, 0.3);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            opacity: 1;
            pointer-events: none;
        }
    }
    &-content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
        transform: perspective(400px) rotateX(-90deg);
        transform-origin: center;
        transition: all 0.5s ease-in-out;
        &.content-style-2 {
            width: 330px;
            bottom: 38px;
            left: 38px;
        }
    }
    &-title {
        font-size: 22px;
        padding-left: 10px;
        color: var(--tg-common-white);
        @media #{$lg,$md,$xs}{
            font-size: 18px;
            padding-left: 0;
        }
        @media #{$sm}{
            padding-left: 10px;
            font-size: 20px;
        }
    }
    &-icon {
        & a {
            height: 56px;
            line-height: 56px;
            width: 56px;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            font-weight: 900;
            color: var(--tg-common-black);
            background-color: var(--tg-common-white);
            @media #{$lg,$md,$xs}{
                height: 40px;
                line-height: 40px;
                width: 40px;
            }
        }
    }
}
.tg-project-3 {
    &-item {
        border-radius: 5px;
        position: relative;
        &:hover {
            & .tg-project-3-content {
                bottom: -23%;
                @media #{$xl,$md}{
                    bottom: -26%;
                }
                @media #{$xs}{
                    bottom: -25%;
                }
                @media #{$sm}{
                    bottom: -36%;
                }
            }
            & .tg-project-3-thumb {
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &-thumb {
        overflow: hidden;
        border-radius: 5px;
        & img {
            border-radius: 5px;
            transition: 1.3s all ease;
        }
    }
    &-title {
        font-size: 22px;
        margin-bottom: 5px;
    }
    &-title-box {
        @media #{$xs}{
            margin-bottom: 30px;
        }
    }
    &-content {
        position: absolute;
        bottom: -38%;
        left: 0;
        right: 0;
        padding: 25px 40px;
        padding-bottom: 30px;
        transition: .4s;
        background-color: var(--tg-common-white);
        border-radius: 0 0 5px 5px;
        @media #{$xl}{
            bottom: -40%;
        } 
        @media #{$md}{
            bottom: -41%;
        } 
        @media #{$xs}{
            bottom: -40%;
        } 
        @media #{$sm}{
            bottom: -58%;
        } 
        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
            border-radius: 0 0 5px 5px;
            background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
        }
        & span {
            font-size: 18px;
            letter-spacing: -0.36px;
            display: block;
            margin-bottom: 15px;
        }
        & a {
            font-size: 18px;
            font-weight: 700;
            color: var(--tg-common-black);
            & i {
                display: inline-block;
                margin-left: 10px;
                transform: translateY(2px);
                background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &-arrow-box {
        & button {
            height: 60px;
            width: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 5px;
            position: relative;
            z-index: 4;
            transition: .4s;
            font-size: 24px;
            background-color: var(--tg-grey-1);
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transform: scale(0);
                transition: .3s;
                       border-radius: 5px;
                background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
            }
            & span {
                color: var(--tg-common-black);
                position: relative;
                z-index: 1;
            }
            &:hover {
                &::after{
                    transform: scale(1);
                }
                & span {
                    color:var(--tg-common-white);
                }

            }
            &.active {
                &::after{
                    transform: scale(1);
                }
                & span {
                    color:var(--tg-common-white);
                }
            }
            &.project-3-prev{
                margin-left: 10px;
            }
        }
    }
    &-active {
        margin-right: -400px;
        padding-bottom: 100px;
        @media #{$xs}{
            margin-right: 0;
        }
    }
}

.tg-project-masonary{
    &-item {
        & img {
            width: 100%;
            border-radius: 5px;
        }
    }
}

.tg-project-details {
    &-text {
        & p {
            padding-right: 10px;
            letter-spacing: -0.36px;
            @media #{$xl,$lg,$md,$xs}{
                padding-right: 0;
                font-size: 16px;
            }
        }
    }

    &-list {
        & ul {
            & li {
                position: relative;
                list-style: none;
                margin-bottom: 7px;
                font-weight: 700;
                color: var(--tg-common-black);
                padding-left: 30px;

                & i {
                    position: absolute;
                    top: 7px;
                    left: 0;
                    font-size: 18px;
                    line-height: 1.1;
                    background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    &-thumb {
        & img {
            width: 100%;
            border-radius: 5px;
        }
    }
    &-thumb-sm {
        margin-right: 6px;
        @media #{$md,$xs}{
            margin-right: 0;
            margin-bottom: 30px;
        }
        & img {
            border-radius: 5px;
        }
    }
    &-list-2 {
        & ul {
            & li {
                position: relative;
                list-style: none;
                margin-bottom: 15px;
                font-weight: 700;
                color: var(--tg-common-black);
                padding-left: 35px;
                @media #{$lg,$md,$xs}{
                    font-size: 16px;
                }
                & i {
                    position: absolute;
                    top: 3px;
                    left: 0;                                      
                    font-size: 26px;
                    color:var(--tg-theme-1) ;
                    @media #{$lg,$md,$xs}{
                        font-size: 22px;
                    }
                }
            }
        }
    }
    &-title-sm {
        font-size: 22px;
        font-weight: 700;
    }
    &-info {
        & span {
            display: block;
            margin-bottom: 10px;
            color: var(--tg-common-black);
            letter-spacing: -0.36px;
            & b {
                font-weight: 700;
                letter-spacing: 0;
                display: inline-block;
                margin-right: 6px;
            }
            & i {
                font-style: normal;
                font-weight: 700;
                color: var(--tg-theme-1);
            }
        }
    }
    &-info {
        &-box {
            border: 1px solid var(--tg-border-1);
            border-radius: 5px;
        }
        &-content {
            padding: 20px 30px;
        }
        &-title {
            font-size: 18px;
            padding: 15px 0;
            color: var(--tg-common-white);
            border-radius: 5px;
            background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
        }

        &-rating{
            & span{
                & i {
                    font-size: 16px;
                    color: #DECD32;
                }
            }
        }
    }
}

.postbox-more {
    &-wrap {
        border-top: 1px solid var(--tg-border-1);
        border-bottom: 1px solid var(--tg-border-1);
        padding: 29px 0;
        @media #{$md,$xs}{
            margin-top: 60px;
        }
    }

    &-icon {
        & a {
            color: var(--tg-common-black);
            font-size: 22px;
            font-weight: 700;

            & i {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                font-size: 12px;
                transition: .3s;
                position: relative;
                color: var(--tg-theme-1);
                background: var(--tg-grey-1);
                &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: .3s;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 50%;
                    z-index: -1;
                    background: linear-gradient(94deg, var(--tg-gradient-1) 0%, var(--tg-gradient-2) 100%);
                }
                &:hover {
                    color: var(--tg-common-white);
                    background-color: transparent;
                    &::after{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &.previous {
            & a {
                & i {
                    margin-right: 30px;
                }
            }
        }

        &.next {
            & a {
                & i {
                    margin-left: 30px;
                }
            }
        }
    }
}